/* You can add global styles to this file, and also import other style files */


/* Application-wide Styles */
ul{
    padding: 0;

    li {
        list-style-type: none;
        padding: 5px 0;
    }
}